<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Homepage ISIS">
    <title>ISIS - Homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header class="cabecalho">
        <img class="cabecalho-logo" src="static/css/logo.png" alt="Logo ISIS" width=20% height=20%>
        <nav class="cabecalho-menu">
            <a class="cabecalho-menu-item" href="{{ url_for('homepage') }}">Homepage</a>
            <a class="cabecalho-menu-item" href="{{ url_for('dash') }}">Dashboard</a>
            <a class="cabecalho-menu-item" href="{{ url_for('video') }}">Câmera</a>
            <a class="cabecalho-menu-item" href="static/ISIS - Integrated System for Industrial Safety.pdf" target="_blank">Documentação</a>
            <a class="cabecalho-menu-item" href="{{ url_for('integrantes') }}">Integrantes</a>
        </nav>
    </header>

    <main class="conteudo">
    <section class="conteudo-principal">
        <div class="conteudo-principal-escrito">
           <h1 class="conteudo-principal-titulo">ISIS: Integrated System for Industrial Safety</h1>
            <h2 class="conteudo-principal-subtitulo">O ISIS é um sistema inteligente de monitoramento em tempo real para fábrica. Utilizando inteligência artificial e visão computacional, o ISIS é capaz de identificar o uso dos EPI's necessários e interromper a operação da linha em casos de inconformidades.</h2>
            <button class="conteudo-principal-botao">Faça seu orçamento</button>
        </div>
    </section>
    </main>

</body>

</html>